apiVersion: apps/v1
kind: Deployment
metadata:
  name: consul
  namespace: e-commerce
  labels:
    app: consul
spec:
  replicas: 1
  selector:
    matchLabels:
      app: consul
  template:
    metadata:
      labels:
        app: consul
    spec:
      containers:
      - name: consul
        image: hashicorp/consul:1.15
        args:
          - "agent"
          - "-dev"
          - "-client=0.0.0.0"
        ports:
        - name: http
          containerPort: 8500
        - name: dns
          containerPort: 8600
        # Fargate nécessite des ressources explicites
        resources:
          limits:
            cpu: "250m"
            memory: "512Mi"
          requests:
            cpu: "250m"
            memory: "512Mi"
        readinessProbe:
          httpGet:
            path: /v1/status/leader
            port: 8500
          initialDelaySeconds: 15
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: consul # CORRECTION : Le nom doit être 'consul' pour être résolu par les autres pods
  namespace: e-commerce
spec:
  selector:
    app: consul
  ports:
  - name: http
    protocol: TCP
    port: 8500
    targetPort: 8500
  - name: dns-tcp
    protocol: TCP
    port: 8600
    targetPort: 8600
  - name: dns-udp
    protocol: UDP
    port: 8600
    targetPort: 8600