apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: e-commerce
  labels:
    app: api-gateway
    component: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      # InitContainer pour garantir l'ordre de démarrage
      initContainers:
      - name: wait-for-config-server
        image: busybox:1.28
        command: ['sh', '-c', "until nc -z config-server 1000; do echo 'Waiting for Config Server...'; sleep 2; done"]
        resources:
          limits:
            cpu: "50m"
            memory: "32Mi"
          requests:
            cpu: "50m"
            memory: "32Mi"

      containers:
      - name: api-gateway
        image: otniel217/api-gateway:latest
        imagePullPolicy: Always
        ports:
        - name: http
          containerPort: 8080
        
        env:
        # FORCE le port pour éviter le port aléatoire détecté dans tes logs
        - name: SERVER_PORT
          value: "8080"
        - name: SPRING_CLOUD_CONSUL_HOST
          value: "consul"
        - name: SPRING_CLOUD_CONSUL_PORT
          value: "8500"
        - name: SPRING_CONFIG_IMPORT
          value: "optional:configserver:http://config-server:1000"
        - name: SPRING_CLOUD_CONFIG_FAIL_FAST
          value: "true"
        # Profil actif pour charger la configuration correspondante
        - name: SPRING_PROFILES_ACTIVE
          value: "prod"

        resources:
          # Configuration standard pour une Gateway Spring Boot sur Fargate
          requests:
            cpu: "256m"
            memory: "512Mi"
          limits:
            cpu: "500m"
            memory: "1Gi"

        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: http
          initialDelaySeconds: 45
          periodSeconds: 20
          timeoutSeconds: 3

        readinessProbe:
          httpGet:
            path: /actuator/health/readiness
            port: http
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 3
          failureThreshold: 3

---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: e-commerce
  annotations:
    # Optionnel : Spécifie le type de LB AWS si nécessaire
    service.beta.kubernetes.io/aws-load-balancer-type: nlb
spec:
  type: LoadBalancer
  ports:
    - name: http
      port: 80
      targetPort: 8080
      protocol: TCP
  selector:
    app: api-gateway