apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: e-commerce
spec:
  replicas: 2
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      # Empêche le conteneur Java de démarrer avant que ses dépendances réseau ne soient prêtes
      initContainers:
      - name: wait-for-infra
        image: busybox:1.28
        command: ['sh', '-c', "until nc -z config-server 1000 && nc -z user-db 3306 && nc -z consul 8500; do echo waiting for infra; sleep 2; done"]
      
      containers:
      - name: product-service
        image: otniel217/product-service:latest
        ports:
        - containerPort: 8081
        env:
        - name: SPRING_CONFIG_IMPORT
          value: "optional:configserver:http://config-server:1000"
        - name: DB_URL
          value: "jdbc:mysql://user-db:3306/user_db"
        - name: DB_USERNAME
          value: "root"
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: MYSQL_ROOT_PASSWORD
        - name: SPRING_DATA_REDIS_HOST
          value: "redis"
        - name: SPRING_CLOUD_CONSUL_HOST
          value: "consul"
        - name: SPRING_CLOUD_CONFIG_FAIL_FAST
          value: "true"
        
        # Gestion des ressources pour éviter l'étouffement du Node
        resources:
          limits:
            memory: "768Mi"
            cpu: "500m"
          requests:
            memory: "512Mi"
            cpu: "250m"

        # Vérifie si l'application a démarré correctement
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8081
          initialDelaySeconds: 40
          periodSeconds: 10
        
        # Redémarre le Pod s'il devient non répondant
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8081
          initialDelaySeconds: 60
          periodSeconds: 20

---
apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: e-commerce
spec:
  selector:
    app: product-service
  ports:
  - protocol: TCP
    port: 8081
    targetPort: 8081
  type: ClusterIP