apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: e-commerce
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: user-service
        image: otniel217/user-service:latest
        ports:
        - containerPort: 8081
        env:
        - name: SPRING_CONFIG_IMPORT
          value: "optional:configserver:http://config-server:1000"
        - name: DB_URL
          value: "jdbc:mysql://user-db:3306/user_db"
        - name: SPRING_DATA_REDIS_HOST
          value: "redis"
        - name: SPRING_CLOUD_CONSUL_HOST
          value: "consul"
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: e-commerce
spec:
  selector:
    app: user-service
  ports:
  - protocol: TCP
    port: 8081
    targetPort: 8081
  type: ClusterIP